<div class="container my-4 p-4 bg-white rounded shadow-sm">
  <h2 class="text-center mb-4">Recetas uniandes</h2>
  <div class="row">
    <div class="col-md-5 text-center">
      <h4>{{ recipe?.nombre }}</h4>
      <img
        class="img-fluid rounded"
        [src]="recipe?.imagen"
        [alt]="recipe?.nombre"
      />
      <button class="btn btn-primary mt-3" (click)="goBack()">Regresar</button>
    </div>

    <div class="col-md-7">
      <div class="mb-2 d-flex flex-wrap justify-content-between">
        <div><strong>Porciones:</strong> {{ recipe?.porciones }}</div>
        <div><strong>Tiempo:</strong> {{ recipe?.tiempo_minutos }} min</div>
        <div><strong>Dificultad:</strong> {{ recipe?.dificultad }}</div>
        <div><strong>Tipo:</strong> {{ recipe?.tipo }}</div>
      </div>
      <hr />

      <h5><strong>Ingredientes</strong></h5>

      <p *ngIf="ingredienteMasUsado">
        <strong>Ingrediente más usado:</strong> {{ ingredienteMasUsado }}
      </p>

     <app-ingredient-list [ingredients]="recipe?.ingredientes || []"></app-ingredient-list>

      <hr />

      <h5><strong>Pasos</strong></h5>
      <ol>
        <li *ngFor="let step of recipe?.pasos">
          {{ step }}
        </li>
      </ol>
    </div>
  </div>
</div>